@{
	Layout = "";
	CategoryInfo item = ViewBag.item;
	var fk_Categorys = Category.Select.ToList();
}

<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title" id="box-title"></h3>
	</div>
	<div class="box-body">
		<div class="table-responsive">
			<form id="form_add" method="post">
				@Html.AntiForgeryToken()
				<input type="hidden" name="__callback" value="edit_callback" />
				<div>
					<table cellspacing="0" rules="all" class="table table-bordered table-hover" border="1" style="border-collapse:collapse;">
						@if (item != null) {
							<tr>
								<td>分类id（自增）</td>
								<td><input name="Id" type="text" readonly class="datepicker" style="width:20%;background-color:#ddd;" /></td>
							</tr>
						}
						<tr>
							<td>父级分类id</td>
							<td id="Parent_id_td"></td>
						</tr>
						<tr>
							<td>分类名称

换行测试

xxxx</td>
							<td><input name="Name" type="text" class="datepicker" style="width:60%;" /></td>
						</tr>
						@if (item != null) {
							<tr>
								<td>创建时间</td>
								<td><input name="Create_time" type="text" readonly class="datepicker" style="width:20%;background-color:#ddd;" /></td>
							</tr>
						}
						<tr>
							<td width="8%">&nbsp</td>
							<td><input type="submit" value="@(item == null ? "添加" : "更新")" />&nbsp;<input type="button" value="取消" /></td>
						</tr>
					</table>
				</div>
			</form>

		</div>
	</div>
</div>

<script type="text/javascript">
	(function () {
		top.edit_callback = function (rt) {
			if (rt.success) return top.mainViewNav.goto('./?' + new Date().getTime());
			alert(rt.message);
		};

		$('#Parent_id_td').html(yieldTreeSelect(yieldTreeArray(@Html.Json(fk_Categorys), null, 'Id', 'Parent_id'), '{#Name}', 'Id')).find('select').attr('name', 'Parent_id');
		var form = $('#form_add')[0];
		var item = null;
		@if (item != null) {
			<text>
			item = @Html.Json(item);
			fillForm(form, item);
			</text>
		}
		top.mainViewInit();
	})();
</script>